* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {font-family: "helvetica", sans-serif; }

main, .content, .bookmark { display: flex; }

main {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #292f36;
}

.content {
        width: 830px;
        padding: 40px 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        /*background-color: #20242d;*/
}

.bookmark { justify-content: space-between; }

img {
        width: 250px;
        border-radius: 8px;
        margin-right: 20px;
}

p, a { color: #9cacad; }

p { 
        margin-bottom: 1rem;
        font-size: 1.2rem; 
}

.cat { margin-right: 30px; }

.work p { color: #ff5555; }

.resources p { color: #50fa7b; }

.chill p { color: #FF79C6; }

.others p { color: #8BE9FD; }

ul { list-style: none; }

li { line-height: 2em;}

a { text-decoration: none; }
