* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {font-family: "helvetica", sans-serif; }

main, .content, .bookmark { display: flex; }

main {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #292f36;
}

.content {
        width: 700px;
        padding: 4px;
        padding-bottom: 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        /*background-color: #20242d;*/
        background-color: #272C33;
}

.bookmark { justify-content: space-between; }

img {
        width: 180px;
        border-radius: 3px;
}

p, a { color: #9cacad; }

p { margin-bottom: 1rem; }

.cat { margin-right: 25px; }

.work p { color: #ff716a; }

.resources p { color: #50fa7b; }

.chill p { color: #ff6bae; }

.others p { color: #6bf8ff; }

ul { list-style: none; }

li { line-height: 2em; }

a { text-decoration: none; }
